body {
      margin: 0;
      height: 100vh;
      background: linear-gradient(0deg, #05234d 0%, #010b19 100%);
      overflow: hidden;
    }
header {
      color: white;
      padding: 1rem;
      text-align: center;
    }
nav {
      margin: 1rem;
      text-align: center;
    }
nav a {
      margin: 0 1rem;
      text-decoration: none;
      color: #4CAF50;
      font-weight: bold;
    }
section {
      padding: 2rem;
      text-align: center;
    }
footer {
      background: #222;
      color: #aaa;
      text-align: center;
      padding: 1rem;
      position: fixed;
      width: 100%;
      bottom: 0;
    }

.cloud {
  position: absolute;
  width: 200px; /* you can adjust size */
  opacity: 0.8;
  animation: clouds 5s ease 0s infinite normal forwards;
    }

.cloud img {
  width: 100%;
  height: auto;
}

@keyframes clouds {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, 2px);
	}

	80% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}

    /* Multiple clouds */
.cloud:nth-child(1) {
      top: 10%;
    }
.cloud:nth-child(2) {
      top: 30%;
    }
.cloud:nth-child(3) {
      top: 50%;
    }

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
