body {
	font-family: 'Cal Sans', sans-serif;
      	margin: 0;
      	height: 100vh;
      	background: linear-gradient(0deg, #05234d 0%, #010b19 100%);
      	overflow: hidden;
    }
header {
	font-family: 'Cal Sans', sans-serif;
      	color: white;
      	padding: 1rem;
      	text-align: center;
    }
nav {
      	font-family: 'Cal Sans', sans-serif;
	margin: 1rem;
      	text-align: center;
    }
nav a {
	font-family: 'Cal Sans', sans-serif;
      	margin: 0 1rem;
      	text-decoration: none;
      	color: white;
      	font-weight: bold;
    }
section {
	font-family: 'Cal Sans', sans-serif;
	color: white;
      	padding: 2rem;
      	text-align: center;
    }
footer {
      font-family: 'Cal Sans', sans-serif;
      opacity: 0.1;
      background: white;
      filter: blur(2px);
      color: black;
      text-align: center;
      padding: 0.5rem;
      position: fixed;
      width: 100%;
      bottom: 0;
    }

.cloud {
  position: relative;
  width: 200px; /* you can adjust size */
  animation: clouds 8s ease 0s infinite normal forwards;
    }

.cloud img {
  width: 100%;
  height: auto;
}

@keyframes clouds {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, 2px);
	}

	80% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}

    /* Multiple clouds */
.cloud:nth-child(1) {
        position: relative;
	width: 20dvw;
    }
.cloud:nth-child(2) {
      position: relative;
      right: 0dvw;
      width: 30dvw;
      animation: clouds 10s ease 0s infinite normal forwards;
    }
.cloud:nth-child(3) {
        position: relative;
	width: 25dvw;
	animation: clouds 5s ease 0s infinite normal forwards;
    }
.cloud:nth-child(4) {
        position: relative;
	right: 50dvw;
	width: 22dvw;
	animation: clouds 5s ease 0s infinite normal forwards;
    }
.cloud:nth-child(5) {
        position: relative;
	right: 0dvw;
	width: 20dvw;
	animation: clouds 7s ease 0s infinite normal forwards;
    }
.cloud:nth-child(6) {
	position: relative;
	width: 15dvw;
	animation: clouds 4s ease 0s infinite normal forwards;
    }

